<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>CRM - Industry Area</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div *ngIf="item">
        <ion-fab *ngIf="isMD" horizontal="end" slot="fixed" vertical="top">
            <ion-fab-button (click)="showMenu()" class="ion-float-end" color="primary" size="small">
                <!--                <ion-fab-button class="ion-float-end" color="primary" size="small">-->
                <ion-icon name="menu"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <div>
            <ion-fab *ngIf="!isMD" horizontal="end" vertical="top">
                <ion-fab-button>
                    <ion-icon name="menu"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="bottom">
                    <ion-fab-button (click)="delete()" *ngIf="!item.is_read_only" color="danger"><!-- delete -->
                        <ion-icon name="trash"></ion-icon>
                    </ion-fab-button>
                    <ion-label *ngIf="!item.is_read_only">Delete</ion-label>
                    <ion-fab-button (click)="isEdit = true" *ngIf="!isEdit && !item.is_read_only" color="primary">
                        <!-- edit -->
                        <ion-icon name="create"></ion-icon>
                    </ion-fab-button>
                    <ion-label *ngIf="!isEdit && !item.is_read_only">Edit</ion-label>
                    <ion-fab-button (click)="isEdit = false" *ngIf="isEdit" color="danger"><!-- cancel edit -->
                        <ion-icon name="close-circle-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-label *ngIf="isEdit" style="text-align: center">Cancel Edit</ion-label>
                    <ion-fab-button (click)="submitForm()" *ngIf="isEdit" color="success"><!-- submit edit -->
                        <ion-icon name="send"></ion-icon>
                    </ion-fab-button>
                    <ion-label *ngIf="isEdit" style="text-align: center">Submit Edit</ion-label>
                </ion-fab-list>
            </ion-fab>
        </div>

        <ion-card>
            <form [formGroup]="editForm">
                <ion-card-header>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card-title>Area*:</ion-card-title>
                                <ion-item>
                                    <ion-label *ngIf="!isEdit">{{item.industry_name}}</ion-label>
                                    <ion-input *ngIf="isEdit"
                                               [appDisableControl]="!isEdit"
                                               color="primary" formControlName="industry_name"
                                               type="text"></ion-input>
                                </ion-item>
                                <div *ngIf="editForm.controls.industry_name.invalid && (editForm.controls.industry_name.dirty || editForm.controls.industry_name.touched)"
                                     class="alert alert-danger">
                                    <div *ngIf="editForm.controls.industry_name.errors?.required">Name is required</div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label>Description:</ion-label>
                                    <ion-input [appDisableControl]="!isEdit"
                                               formControlName="industry_desc"
                                               type="text"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </form>
        </ion-card>
    </div>

    <div *ngIf="!item">
        <ion-card>
            <ion-card-header>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-card-title>Area:</ion-card-title>
                            <ion-item>
                                <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-header>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
